/** Import everything from autoload */
@import "bootstrap";

@import "common/variables";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
 /* @import "~some-node-module"; */
@import "slick-carousel/slick/slick.scss";

$hamburger-padding-x: 0px;
$hamburger-padding-y: 7px;
$hamburger-types     : (arrow);
$hamburger-layer-width         : 30px;
$hamburger-layer-height        : 3px;
$hamburger-layer-spacing       : 4px;
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";