header.banner{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: $white;
  padding: 1rem 1rem;
  transition: background-color ease-in .3s;
  
  &.scrolled{
    background-color: $baby;
    box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.05);

    img{
      height: 2.5rem;
    }
  }
  
  img{
    height: 3rem;
    transition: height ease-in .3s;
  }
  
  @include media-breakpoint-up(md){
    display: flex;
    align-items: center;
    padding: 1rem 2rem;

    .brand{
      flex: 1;
    }

    img{
      height: 4rem;
    }
  }
}

#navbarToggle{
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 99;
  border: 0;
  outline: 0;
  background: transparent;

  .icon-bar{
    display: block;
    background: $orange;
    width: 1.5625rem;
    height: 4px;
    margin-bottom: 5.6px;
  }

  @include media-breakpoint-up(md){
    display: none;
  }
}

nav.nav-primary{
  position: fixed;
  overflow: auto;
  top: 0;
  left: 100%;
  transition: left ease-in-out .5s;
  width: 100%;
  min-height: 100%;
  z-index: 9;
  background: $baby;
  padding: 3rem 0 0;
  height: 100%;

  display: flex;
  flex-flow: column;

  @include media-breakpoint-up(md){
    overflow: initial;
    position: relative;
    left: auto;
    background: transparent;
    width: auto;
    height: auto;
    padding: 0;
  }

  &.--open{
    left: 0;
  }
  
  .menu-top-menu-container{
    flex: 1;
  }

  #menu-top-menu{
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    height: 100%;
    color: $orange;
    font-weight: 500;
    padding: 0 2rem 1rem;
    
    li{
      font-size: 2.9rem;
      font-weight: 600;
    }
    
    @include media-breakpoint-up(md){
      flex-flow: row;
      align-items: center;
      text-transform: uppercase;
      color: $black;
      padding: 0;
      
      li{
        padding: 0 1rem;
        font-size: 1.0625rem;

        &:last-child{
          a{
            display: block;
            border: 2px solid $orange;
            border-radius: 2em;
            color: $orange;
            font-weight: 600;
            text-transform: uppercase;
            padding: 0.25rem 1.25rem;
            white-space: nowrap;
          }
        }
        }
      
        .current_page_parent a,
        .current_page_item a{
          color: $orange;
        }

        
    }
  }

  .login-link{
    display: block;
    background: $aqua;
    padding: 1rem 2rem;
    font-size: 2.9rem;
    font-weight: 600;
    color: $orange;
    display: flex;
    justify-content: space-between;

    .arrow{
      height: 8rem;
      position: absolute;
      transform-origin: center;
      rotate: -90deg;
      transform: translate(50%, -40%);
      right: 1rem;
      transition: margin .3s;
    }

    &:hover{
      .arrow{
        right: .5rem;
      }
    }
  }

  .copyright, 
  .legal, 
  .social{
    color: $lightgrey;
    font-size: .8rem;
    padding: 0 2rem;
  }
  
  .legal li{
    font-size: .8rem;
    padding-right: 1rem;
  }

  .copyright{
    margin-bottom: 1rem;
  }

  @include media-breakpoint-up(md){
    .login-link,
    .legal,
    .copyright,
    .social{
      display: none;
    }
  }
}