

////////////////////////////
// Portfolio Items
////////////////////////////

.portfolio-item{
    margin-bottom: $grid-gutter;

    a{
        text-decoration: none;
        color: inherit;
    }

    h3{
        font-size: 1.2em;
        font-weight: 600;
    }

    .thumbnail{
        background-color: $grey;
        padding-top: 120%;
        border-radius: 10px;
        margin-bottom: 10px;
        transition: .5s;

        &:hover{
            opacity: .5;
        }
    }
}