.page-header{
    text-align: center;
    margin: $grid-gutter 0 0;
    
    @include media-breakpoint-up(md){
        margin-top: $section-gutter;
    }
}

.home,
.investments,
.portfolio,
.community,
.investment-focus-companies,
.investment-focus-funds{
    .page-header{
        display: none;
    }
}

/////////////////////////////
/// INSIGHTS
/////////////////////////////

.type-post{
    margin-top: $grid-gutter;

    .thumbnail{
        position: relative;
        height: 0;
        padding-top: 60%;
        margin-bottom: 1rem;
        background-color: $baby;
        transition: background-color ease-in-out .5s;
        
        img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            // filter: grayscale(53%) sepia(33%) brightness(119%) contrast(83%);
            filter: grayscale(20%) sepia(5%);
            transition: ease-in-out .5s;
            
        }
    }
    
    a{
        &:hover{
            .thumbnail{
                background-color: $white;
            }
            
            img{
                filter: grayscale(0%) sepia(0%);
                transform: scale(1.15);
                // filter: grayscale(0%) sepia(0%) brightness(100%) contrast(100%);
            }
        }
    }

    @include media-breakpoint-up(md){
        margin-bottom: 0;
    }
}

////////////////////////////
// Community
////////////////////////////

.community{
    h2{
        font-size: 2.5rem;
    }

    h1{
        font-size: 1.625rem;
    }

    #pillars{
        text-align: center;
    }
    
    @include media-breakpoint-up(md){
        h2{
            font-size: 4.25rem;
        }
    
        h1{
            font-size: 2.8125rem;
        }
    
        #pillars{
            text-align: left;
        }
    }
}

////////////////////////////
// About
////////////////////////////
.page.about{

    p{
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }

    #top{
        padding-bottom: 0;

        .wp-block-column{
            max-width: 50rem;
        }
    }

    #heroImage{
        padding-top: 0;
    }

    
    #numbersFeature{
        .wp-block-columns.is-not-stacked-on-mobile{
            flex-wrap: wrap!important; 
            justify-content: center;
        }
        .wp-block-column{
            flex-basis: 45%!important;
        }
        
        p:first-child{
            background-color: $baby;
            max-width: 10rem;
            aspect-ratio: 1;
            border-radius: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0 auto 1rem;
            font-size: 2rem;
            
            strong{
                display: block;
                font-size: 3rem;
            }
        }
        
        @include media-breakpoint-up(md){
            .wp-block-column{
                flex-basis: 15%!important;
            }
        }
    }

    #mission{
        .wp-block-columns{
            margin-bottom: 0;
        }

        .with-border{
            padding: 3rem;
            margin-left: auto;
            
            @include media-breakpoint-up(lg){
                max-width: 25rem;
            }
        }
    }
    
    #jobs{
        background: $baby;
        padding: $section-gutter 0;
        
        .jobs{
            p{
                margin-bottom: 1rem;
            }
        }
    }

    #values{
        img{
            max-width: 200px;
            margin-bottom: 2rem;
        }
    }
}

////////////////////////////
// Home
////////////////////////////

.home{
    header.banner{
        background: $baby;
    }
}

#manifesto{
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $grid-gutter;
    padding-top: 0;

    .container{
        padding-bottom: $section-gutter;
    }

    h3{
        font-size: 1.0625rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    
    h1{
        font-size: 2.375rem;
        font-family: $Teodor;
        max-width: 62rem;
        margin: auto;
        
        a{
            text-decoration: underline;
            text-decoration-color: $olive;
            text-decoration-thickness: 5px;
            transition: color ease-in-out .3s;
            
            &:hover{
                color: $olive;
            }
            
            &:nth-child(1){
                text-decoration-color: $grey;
                
                &:hover{
                    color: $grey;
                }
            }
            &:nth-child(2){
                text-decoration-color: $clay;
                &:hover{
                    color: $clay;
                }
            }
            &:nth-child(3){
                text-decoration-color: $ochre;
                
                &:hover{
                    color: $ochre;
                }
            }
        }
    }
    
    @include media-breakpoint-up(md){
        min-height: calc(100vh - $banner-height);

        h1{
            font-size: 4rem;
        }

        h3{
            font-size: 1.4375rem;
            margin-bottom: $grid-gutter;
        }
    }
}

#areas,
#theory{
    scroll-margin-top: $grid-gutter;

    .wp-block-columns{
        margin-bottom: $section-gutter;

        &:nth-of-type(2){
            flex-flow: column-reverse;

            @include media-breakpoint-up(md){
                flex-flow: row;
            }
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
    
    @include media-breakpoint-up(md){

        scroll-margin-top: $section-gutter;

        .wp-block-columns{
            margin-bottom: calc($section-gutter * 2);
        }
    }

    @include media-breakpoint-down(lg){
        .container{
            max-width: 960px;
        }
    }
}

#latestReport{
    padding: $grid-gutter 0;

    .wp-block-columns{
        margin: 0;
    }

    a{
        @extend .readmore;

        &::after{
            @include dot;
        }
    }

    @include media-breakpoint-up(md){
        .wp-block-columns{
            .wp-block-column:last-child{
                display: flex;
                flex-flow: column;
                justify-content: center;
                padding-left: $grid-gutter;
            }
        }
    }
}

////////////////////////////
// Community
////////////////////////////

#pillars{
    padding-top: 0;

    h1, p{
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }

    .wp-block-columns{
        margin-top: $section-gutter;

        .wp-block-image{
            margin-bottom: 1rem;
        }
    }

}


////////////////////////////
// Home
////////////////////////////

#latestReport{
    padding: $grid-gutter 0;

    .wp-block-columns{
        margin: 0;

        .wp-block-column:last-child{
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding-left: $grid-gutter;
        }
    }

    a{
        @extend .readmore;

        &::after{
            @include dot;
        }
    }

    @include media-breakpoint-up(md){
        .wp-block-columns{
            .wp-block-column:last-child{
                display: flex;
                flex-flow: column;
                justify-content: center;
                padding-left: $grid-gutter;
            }
        }
    }
}


////////////////////////////
// Portfolio Page
////////////////////////////

#portfolioIntro{
    padding-bottom: 0;

    @include media-breakpoint-up(md){
        p{
            width: 50rem;
            margin: auto;
        }
    }
}


////////////////////////////
// Portfolio Items
////////////////////////////
#portfolioFilters{
    h5{
        margin-top: 2rem;
    }

    button{
        border: 0;
        outline: 0;
        margin-bottom: .5rem;
        color: $olive;
        
        &:hover,
        &.active{
            color: $orange;
        }

        &.tag{
            color: $white;

            &.fund{
                background: $olive;
            }
        }
    }
}

.post-card.type-portfolio{
    margin-bottom: $grid-gutter;

    a{
        text-decoration: none;
        color: inherit;
    }

    h3{
        font-size: 1.5em;
        font-weight: 800;
    }

    .cats{
        color: $olive;

        span{
            display: inline-block;
            margin-right: .5rem;
        }
    }

    .thumbnail{
        position: relative;
        background-color: $grey;
        padding-top: 140%;
        border-radius: $radius;
        margin-bottom: 10px;
        transition: .5s;
        overflow: hidden;

        &:after{
            content: '';
            position: absolute;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #6d783f;
            z-index: 2;
            mix-blend-mode: screen;
            transition: .5s;
        }
        
        &:before{
            content: '';
            position: absolute;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #bcdcd1;
            z-index: 2;
            mix-blend-mode: multiply;
            transition: .5s;
        }        

        img{
            position: absolute;
            top: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: .5s;

            //Filters
            filter: saturate(0) brightness(1.3);
        }
        
        .tag{
            position: absolute;
            top: .5rem;
            left: .5rem;
            z-index: 5;
        }
    }
    
    &:hover{
        .thumbnail{
            img{
                filter: saturate(1) brightness(1);
            }

            &:after,
            &:before{
                opacity: .2;
            }   
        } 
    }

    &.company{
        .thumbnail{
            &:after{
                background-color: $ochre;
            }
            
            &:before{
                background-color: #bcdcd1;
            }
        }
    }
}

////////////////////////////
// Team
////////////////////////////
.page.team{
    #top{
        text-align: center;
        margin: calc($grid-gutter * 3) auto;
        max-width: 800px;
    }

    #allTeam{
        section{
            scroll-margin-top: $banner-height;
        }
    }
}

#filter{
    padding-left: 0;
    list-style: none;
    position: sticky;
    top: 100px;

    li{
        margin-bottom: .5em;
    }

    a{
        color: $olive;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }
}

////////////////////////////
// Insights
////////////////////////////
.blog{
    h2{
        font-size: 2.25rem;
    }

    @include media-breakpoint-up(md){
        h2{
            font-size: 4.25rem;

            &.has-text-align-center{
                max-width: 60rem;
                margin: 0 auto;
            }
        }
    }

 #filters{
    margin: $section-gutter 0 0;
    text-align: center;
    padding: 0;
    
    ul{
        list-style: none;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li{
            padding: 0 1rem .5rem;
        }
    }

    button{
        outline: 0;
        border: 0;
        background: transparent;
        color: $olive;

        &.active{
            color: $orange;
        }
    }
 }

 #loadMore{
    @extend .button;
    display: block;
    margin: $grid-gutter auto;
 }

    #allPosts{
        margin-bottom: $section-gutter;
        
        .post-card{
            @extend .col-md-4;
        }

        .row{
            opacity: 1;
            transition: opacity ease .5s;
        }

        .no-posts{
            text-align: center;
        }

        &.loading{
            .row{
                min-height: 50rem;
                opacity: 0;
            }
        }

        &.no-more{
            #loadMore{
                display: none;
            }
        }
    }
}


////////////////////////////
// About
////////////////////////////
.page.investments{
    @include media-breakpoint-up(lg){

        .wp-block-top-section{
            .image{
                max-height: 60vh;
            }
        }
    }

    #theory{
        h2.has-text-align-center{
            color: $black;
            font-family: $Teodor;
            font-weight: 400;
            margin-bottom: $section-gutter;
            
            @include media-breakpoint-up(md){
                margin-bottom: $section-gutter;
            }
        }
    }
}

////////////////////////////
// JOIN US
////////////////////////////
.page.join-us{
    #top{
        .container{
            max-width: 50rem;
        }
    }

    #types{
        img{
            max-width: 6rem;
            margin-bottom: 1rem
        }
    }
}


////////////////////////////
// Investments
////////////////////////////
#focusTop{
    h3{
        @extend h1;
        margin-top: $grid-gutter;
    }

    p{
        max-width: 50rem;
        margin: auto;
    }
}

#focusBody{
    padding-top: $grid-gutter;

    .container{
        max-width: 50rem;
    }

    strong{
        color: $orange;
    }

    &.funds{
        strong{
            color: $ochre;
        }   
    }
}