/////////////////////////////
/// INSIGHTS
/////////////////////////////

#allPosts{
    margin: $section-gutter 0;
}

#filters{
    margin: $section-gutter 0;
    text-align: center;

    ul{
        list-style: none;
        padding: 0;
    }

    a{
        color: $olive;
    }
}

.type-post{
    .thumbnail{
        position: relative;
        height: 0;
        padding-top: 60%;
        margin-bottom: 1rem;

        img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

////////////////////////////
// Portfolio Items
////////////////////////////

.portfolio-item{
    margin-bottom: $grid-gutter;

    a{
        text-decoration: none;
        color: inherit;
    }

    h3{
        font-size: 1.2em;
        font-weight: 600;
    }

    .thumbnail{
        background-color: $grey;
        padding-top: 120%;
        border-radius: $radius;
        margin-bottom: 10px;
       transition: .5s;

        &:hover{
            opacity: .5;
        }
    }
}

////////////////////////////
// Insights
////////////////////////////
.page.insight{
    
}