.page-header{
    text-align: center;
    margin-top: $section-gutter;
}

/////////////////////////////
/// INSIGHTS
/////////////////////////////

#allPosts{
    margin: $section-gutter 0;
}

#filters{
    margin: $section-gutter 0;
    text-align: center;

    ul{
        list-style: none;
        padding: 0;
    }

    a{
        color: $olive;
    }
}

.type-post{
    .thumbnail{
        position: relative;
        height: 0;
        padding-top: 60%;
        margin-bottom: 1rem;

        img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

////////////////////////////
// About
////////////////////////////
.page.about{
    #numbersFeature{
        p:first-child{
            background-color: $baby;
            width: 10rem;
            aspect-ratio: 1;
            border-radius: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0 auto 1rem;
            font-size: 2rem;

            strong{
                display: block;
                font-size: 3rem;
            }
        }
    }
}

#allPosts{
    margin: $section-gutter 0;
}

#filters{
    margin: $section-gutter 0;
    text-align: center;

    ul{
        list-style: none;
        padding: 0;
    }

    a{
        color: $olive;
    }
}

////////////////////////////
// Home
////////////////////////////
#manifesto{
    min-height: calc(100vh - $banner-height);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $grid-gutter;

    h3{
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: $section-gutter;
    }
    
    h1{
        font-size: 3rem;
        font-family: 'Courier New', Courier, monospace;

        a{
            text-decoration: underline;
            text-decoration-color: $olive;
            text-decoration-thickness: 5px;

            &:hover{
                color: $olive;
            }
            
            &:nth-child(1){
                text-decoration-color: $grey;
                
                &:hover{
                    color: $grey;
                }
            }
            &:nth-child(2){
                text-decoration-color: $clay;
                &:hover{
                    color: $clay;
                }
            }
            &:nth-child(3){
                text-decoration-color: $ochre;

                &:hover{
                    color: $ochre;
                }
            }
        }
    }

}

#latestReport{
    padding: $grid-gutter 0;

    .wp-block-columns{
        margin: 0;

        .wp-block-column:last-child{
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding-left: $grid-gutter;
        }
    }

    a{
        @extend .readmore;

        &::after{
            @include dot;
        }
    }

}

.type-post{
    .thumbnail{
        position: relative;
        height: 0;
        padding-top: 60%;
        margin-bottom: 1rem;

        img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

////////////////////////////
// Home
////////////////////////////
#manifesto{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $grid-gutter;
}



////////////////////////////
// Portfolio Items
////////////////////////////

.portfolio-item{
    margin-bottom: $grid-gutter;

    a{
        text-decoration: none;
        color: inherit;
    }

    h3{
        font-size: 1.2em;
        font-weight: 600;
    }

    .thumbnail{
        background-color: $grey;
        padding-top: 120%;
        border-radius: $radius;
        margin-bottom: 10px;
       transition: .5s;

        &:hover{
            opacity: .5;
        }
    }
}

////////////////////////////
// Team
////////////////////////////
.page.team{
    #top{
        text-align: center;
        margin: calc($grid-gutter * 3) auto;
        max-width: 800px;
    }

    #allTeam{
        section{
            scroll-margin-top: $banner-height;
        }
    }
}

#filter{
    padding-left: 0;
    list-style: none;
    position: sticky;
    top: 100px;

    li{
        margin-bottom: .5em;
    }

    a{
        color: $olive;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }
}

////////////////////////////
// Insights
////////////////////////////
.page.insight{
    
}