//TEAM
article.team{
    margin-bottom: $grid-gutter;
    
    .thumbnail{
        position: relative;
        height: 0;
        padding-top: 120%;
        border-radius: $radius;
        background-color: $grey;
        margin-bottom: 1rem;

        img{
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
}

////////////////////////////
/// Insights Posts
////////////////////////////

.single-post{
    #articleHeader{
        text-align: center;
        margin: $section-gutter auto;

        .container{
            position: relative;

            &> *{
                max-width: 60rem;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .back{
            @extend .round-button !optional;
            position: absolute;
            top: 0;
            left: 0;
        }

        .category{
            @extend h1;
        }

        .p-name{
            @extend h2;
        }

        .excerpt{
            font-family: $Teodor;
            font-size: 1.625rem;
            margin-bottom: $grid-gutter;
        }
    }
}

#relatedPosts{
    background-color: $baby;
    margin-top: $section-gutter;
    padding: $grid-gutter 0;
}