//TEAM
article.team{
    margin-bottom: $grid-gutter;
    
    .thumbnail{
        position: relative;
        height: 0;
        padding-top: 120%;
        border-radius: $radius;
        background-color: $grey;
        margin-bottom: 1rem;

        img{
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
}

.single-post{
    #articleHeader{
        text-align: center;
        margin: $section-gutter auto;

        .container{
            position: relative;
        }

        .back{
            @extend .round-button !optional;
            position: absolute;
            top: 0;
            left: 0;
        }

        h1{
            @extend h2;
        }
    }
}