//TEAM
article.team{
    margin-bottom: $grid-gutter;
    
    .thumbnail{
        position: relative;
        height: 0;
        padding-top: 120%;
        border-radius: $radius;
        background-color: $grey;
        margin-bottom: 1rem;

        img{
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
}

////////////////////////////
/// Insights Posts
////////////////////////////

#articleHeader{
    text-align: center;
    margin: $section-gutter auto;

    .container{
        position: relative;

        .row{
            align-items: center;
            margin-bottom: 2rem;
        }

        h1, h3, .excerpt{
            max-width: 60rem;
            margin-left: auto;
            margin-right: auto;
        }

        .excerpt{
            font-family: $Teodor;
            font-size: 1.625rem;
            margin-bottom: $grid-gutter;
        }
    }

    .category{
        @extend h1;
        margin-bottom: 0;
    }

    .p-name{
        @extend h2;
    }

    .excerpt{
        font-family: $Teodor;
        font-size: 1.625rem;
        margin-bottom: $grid-gutter;
    }
}

.single-post{
    .hero{
        max-width: 1200px;
        aspect-ratio: auto;
        margin-bottom: $section-gutter;
    }
}

#relatedPosts{
    background-color: $baby;
    margin-top: $section-gutter;
    padding: $grid-gutter 0;

    header{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}


/////////////////////////
/// Single Portfolio
/////////////////////////
.single-portfolio{
    section.header{
        .thumbnail{
            background-color: $grey;
            overflow: hidden;
            margin-bottom: 1rem;
            height: 50vh;
            max-height: 20rem;
            width: 100vw;
            transform: translateX(-1.55rem);

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }            

        }

        h1{
            font-size: 1.625rem;
        }

        .info{
            margin-bottom: $grid-gutter;
        }

        .tags,
        .cats,
        .excerpt{
            margin-bottom: 1rem;
        }

        .cats{
            span{
                color: $olive;
                padding-right: 1rem;
                font-size: 1.0625;
                font-weight: 800;
            }
        }

        .logo{
            margin-bottom: 1rem;
        }
    }

    a.back{
        //@extend .round-button !optional;
        display: none;

        @include media-breakpoint-up(md){
            display: inline-block;
        }
    }

    section#more{
        margin: $section-gutter 0;

        .row{
            align-items: center;
        }

        .wp-block-image{
            margin-bottom: 4rem;
            
            @include media-breakpoint-up(md){
                margin-right: 2rem;
            }
            
            @include media-breakpoint-up(lg){
                margin-right: 4rem;
            }
        }
    }

    @include media-breakpoint-up(md){
        section.header{
            margin: $section-gutter 0;

            .excerpt{
                font-size: 1.375rem;
            }

            .thumbnail{
                height: 100%;
                max-height: none;
                width: 90%;
                border-radius: 2rem;
                margin-bottom: 0;
                transform: none;
            }
        }

        .e-content{
            position: relative;
            min-height: 20rem;
        }
    }
}

.fund .tag{
    background-color: $olive;
}