*, *::after, *::before{
    box-sizing: border-box;
}

html, body{
    min-height: 100%;
    height: auto;
    position: relative;
    scroll-behavior: smooth;
    font-family: $FormaleGrotesque;
}

.wp-block-section > p, 
.wp-block-section > h1, 
.wp-block-section > h2, 
.wp-block-section > h3, 
.wp-block-section > h4, 
.wp-block-section > h5,
.wp-block{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: $black;
}

h2{
    color: $orange;
    font-weight: 400;
    font-size: 3em;

    b{
        font-weight: 400;
    }
}

a{
    color: inherit;
    text-decoration: none;

    &:hover{
        color: $orange;
    }

    &.readmore{
        color: $olive;
        
        &.dot{
            text-decoration: underline;
            
            &::after{
                content: '';
                display: inline-block;
                width: 1em;
                height: 1em;
                border-radius: 1em;
                margin-left: .5em;
                background-color: $aqua;
            }
        }

    }
}

#main{
    min-height: 100vh;
}

.wp-block-columns{
    margin: 100px 0;
}

.wp-element-button{
    background-color: $olive;
    color: $baby;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;

    &:hover{
        a{
            color: $orange;
        }
    }
}

.wp-block-image{
    img{
        border-radius: 20px;
        width: 100%;
        max-width: 100%;
    }

    &.stacked{
        position: relative;
        margin-left: 40px;
        transform: scale(1);

        &:after{
            content: '';
            display: block;
            position: absolute;
            background-color: $yellow;
            width: 100%;
            height: 100%;
            top: 20px;
            left: -20px;
            border-radius: 20px;
            z-index: -1;
        }
        
        &:before{
            content: '';
            display: block;
            position: absolute;
            background-color: $baby;
            width: 100%;
            height: 100%;
            top: 40px;
            left: -40px;
            border-radius: 20px;
            z-index: -2;
        }
    }

    &.with-border{
        padding: 30px;
        background-color: $grey;
    }
}

// Utilities
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.rounded{
    border-radius: 1rem;
    overflow: hidden;
    background-color: $grey;
}
