/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc,
);

$black: #000000;
$white: #ffffff;
$grey: #7D8F9B;
$lightgrey: #D6D6D6;
$olive: #6D783F;
$baby: #F9F2EB;
$orange: #FF5C00;
$yellow: #F0FF48;
$clay: #B85800;
$ochre: #BA833A;
$aqua: #BCDCD1;


$grid-gutter: 3rem;
$section-gutter: calc( 2 * $grid-gutter);
$radius: 10px;
$banner-height: 80px;

@include media-breakpoint-up(md){
  $banner-height: 90px;
}

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;


@mixin dot(){
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  margin-left: .5em;
  background-color: $aqua;
  vertical-align: text-top;
}

// Fonts
// $lato:"Lato", sans-serif;
$FormaleGrotesque:"FormaleGrotesque", sans-serif;
$Teodor:"Teodor", serif;

@font-face {
  font-family: 'FormaleGrotesque';
  src: url('~@fonts/FormaleGrotesque-N3.woff2') format('woff2'),
      url('~@fonts/FormaleGrotesque-N3.woff') format('woff');
  font-weight: 800;
  font-style: normal; 
  font-display: swap;
}

@font-face {
  font-family: 'FormaleGrotesque';
  src: url('~@fonts/FormaleGrotesque-N2.woff2') format('woff2'),
      url('~@fonts/FormaleGrotesque-N2.woff') format('woff');
  font-weight: 600;
  font-style: normal; 
  font-display: swap;
}

@font-face {
  font-family: 'FormaleGrotesque';
  src: url('~@fonts/FormaleGrotesque-N1.woff2') format('woff2'),
      url('~@fonts/FormaleGrotesque-N1.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
  font-display: swap;
}

@font-face {
  font-family: 'Teodor';
  src: url('~@fonts/Teodor-Regular.woff2') format('woff2'),
      url('~@fonts/Teodor-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
  font-display: swap;
}
@font-face {
  font-family: 'Teodor';
  src: url('~@fonts/Teodor-RegularItalic.woff2') format('woff2'),
      url('~@fonts/Teodor-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic; 
  font-display: swap;
}