.wp-block-carousel{
    margin: $grid-gutter 0;

        .slide{
            padding: $grid-gutter;

            img{
                max-width: 100%;
                border-radius: 10px;
            }

            .text{
                display: flex;
                flex-flow: column;
                justify-content: center;
                padding-left: calc(2 * $grid-gutter);
            }

            .quote{
                font-size: 3rem;
            }

            .company{
                font-weight: 600;

                &:before{
                    content: ', ';
                }
            }
            
            .name{
                color: $olive;
            }
        }
}