.wp-block-featured-article{
    background-color: $baby;
    margin-bottom: $grid-gutter;

    .text{
        padding: 0 $grid-gutter $grid-gutter;
    }

    @include media-breakpoint-up(md){
        .thumbnail{
            height: 30rem;
    
            .wp-block-image{
                width: 70%;
            }
        }

        .text{
            align-items: flex-start;
            padding: $grid-gutter;
        }
    }
}