.wp-block-featured-article{
    background-color: $baby;
    margin-bottom: $grid-gutter;
    padding: 2rem 0;

    .wp-block-image{
        margin: 0;
        margin-bottom: $grid-gutter;
    }

    .text{

        h3{
            margin-bottom: 1rem;
            font-weight: 600;
        }

        p{
            margin-bottom: 1rem;
        }
    }

    @include media-breakpoint-up(lg){
        padding: $section-gutter 0;

        h3{
            margin-bottom: 1rem;
        }

        .wp-block-image{
            width: 85%;
            margin-bottom: 0;
        }

        .text, 
        .image{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .text{
            align-items: flex-start;
            justify-content: flex-start;
            flex-flow: column;
            margin-bottom: 0;
        }
    }
}