.wp-block-featured-article{
    background-color: $baby;
    margin-bottom: $grid-gutter;
    padding: $section-gutter 0;

    .wp-block-image{
        margin: 0;
        margin-bottom: $grid-gutter;
    }

    .text{
        margin-bottom: $grid-gutter;

        h2{
            margin-bottom: 2rem;
        }

        p{
            margin-bottom: 1rem;
        }
    }

    @include media-breakpoint-up(lg){
        .wp-block-image{
            width: 85%;
            margin-bottom: 0;
        }

        .text, 
        .image{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .text{
            align-items: flex-start;
            flex-flow: column;
            margin-bottom: 0;
        }
    }
}