.wp-block-join-us-options{
    margin-bottom: $grid-gutter;

    .container{
        padding: 0;
    }
    
    .box{
        width: 100%;
        height: auto;
        aspect-ratio: 1;
        margin-bottom: $grid-gutter;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $olive;
        color: $white;
        border-radius: 1rem;
        transition: .5s;

        .box__inner{
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            align-items: center;
            min-height: 8rem;
            
            @include media-breakpoint-up(md){
                width: 10rem;
            }
        }

        img{
            width: 8rem;
            max-width: 80%;
            mix-blend-mode: screen;
            filter: brightness(1.5);
            
            @include media-breakpoint-up(md){
                width: 10rem;
            }
        }

        &.investors{
            background-color: $orange;
        }
        &.company{
            background-color: $grey;
        }
        &.fund{
            background-color: $olive;
        }
        &.impact{
            background-color: $clay;
        }
    }

    a:hover{
        .box{
            transform: scale(1.05);
            filter: drop-shadow(0px 0px 10px rgba(0,0,0,.3));
        }   
    }
}