.wp-block-latest-news{
    background: $baby;
    padding: $section-gutter 0;
    padding: 100px 0;

    header{
        display: flex;
        justify-content: space-between;

        h3{
            text-transform: uppercase;
            font-size: 2rem;
        }

        .round-button{
            align-self: center;
        }
    }
}