.wp-block-latest-news{
    background: $baby;
    padding: 3rem 0;

    h3{
        text-transform: uppercase;
        font-size: 2rem;

        @include media-breakpoint-up(lg){
            margin-bottom: 0;
        }
    }

    
    .round-button{
        align-self: center;
    }
    
    @include media-breakpoint-up(md){
        .container{
            display: grid;
            grid-template-columns: 3fr 1fr;
        }

        .link{
            text-align: right;
        }

        .swiper-wrapper{
            grid-column: span 2;
            order: 3;
        }
    }
}