.wp-block-latest-news{
    background: $baby;
    padding: $section-gutter 0;
    padding: 100px 0;
}

.type-post{
    .thumbnail{
        background-color: $grey;
        min-height: 200px;
        border-radius: $radius;
        margin-bottom: $grid-gutter;
    }
}