.wp-block-manifesto{
    background-color: $baby;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $grid-gutter;
    
    h2{
        color: $black;
    }
}