.wp-block-numbers{
    margin-bottom: 1rem;
    
    .container{
        max-width: 70rem;
        text-align: center;
    }
    
    img{
        width: 9rem;
    }

    p{
        margin-top: 0.5rem;
    }
    
    @include media-breakpoint-up(md){
        margin-bottom: $section-gutter;
    }
}