.wp-block-portfolio-highlights{
    background: $baby;
    padding: $section-gutter 0;

    h2{
        margin-bottom: 1rem;
    }

    .link{
        margin-bottom: $grid-gutter;
    }

    @include media-breakpoint-up(lg){
        .link{
            text-align: right;
        }
    }
}