.wp-block-portfolio-highlights{
    background: $baby;
    padding: $section-gutter 0;

    .swiper-slide{
        width: 80%;
        
        h3, .cats{
            opacity: 0;
            transition: .5s;
        }
        
        &.swiper-slide-active{
            h3, .cats{
                opacity: 1;
            }
        }
        
        @include media-breakpoint-up(md){
            width: 100%;

            h3, .cats{
                opacity: 1;
            }
        }
    }

    h2{
        margin-bottom: 1rem;
    }

    .link{
        margin-bottom: $grid-gutter;
    }

    @include media-breakpoint-up(lg){
        .link{
            text-align: right;
        }
    }
}