.wp-block-section{
    padding: $grid-gutter 0;
    
    &.is-style-white{
        background-color: $white;
    }
    
    &.is-style-orange{
        background-color: $baby;
    }
    
    @include media-breakpoint-up(md){
        padding: $section-gutter 0;
    }
}