:root{
    --swiper-navigation-color: $orange;
}

.wp-block-testimonials{
    position: relative;
    margin: $grid-gutter 0;

    .quote-wrap{
        max-width: 60rem;
        margin: auto;
    }

    .swiper-slide{
        display: flex;
        padding: 0 2rem;
    }

    .quote{
        font-size: 1.5rem;
        line-height: 1.3em;
        font-weight: 400;
        font-style: italic;
        letter-spacing: -.03rem;
        
        @include media-breakpoint-up(md){
            font-size: 2rem;
        }
        
        @include media-breakpoint-up(xl){
            font-size: 2.8125rem;
        }

        &:before{
            content: '"';
        }
        
        &:after{
            content: '"';
        }
    }

    .details{
        h6{
            font-weight: 600;
            margin: 1rem 0 0;
        }

        .name{
            color: $olive;
        }
        .title{
            color: $grey;
        }
    }

    @include media-breakpoint-up(lg){
        margin: $section-gutter 0;
    }
}

.button-next,
.button-prev{
    position: absolute;
    padding: 0 .5rem;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(180deg);
    cursor: pointer;
    z-index: 2;

    img{
        transition: transform .3s;
    }

    &:hover{
        img{
            transform: translateX(.5rem);
        }
    }
    
    @include media-breakpoint-up(md){
        padding: 0 1rem;
    }

    @include media-breakpoint-up(xl){
        padding: 0 3rem;
    }
}

.button-next{
    transform: translateY(-50%);
    right: 0;
    left: auto;
}