.wp-block-top-section{
    background-color: $baby;
    
    .image{
        overflow: hidden;
        max-height: 50vh;
        
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .text{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .inner{
            padding: $grid-gutter;
        }

        h1{
            @extend h2;
        }

        p{
            // font-family: $Teodor;
            max-width: 30rem;
        }
    }

    @include media-breakpoint-up(md){
        .image{
            min-height: 60vh;
            max-height: 100vh;
        }
    }
}